.showme {
display: none;
}

.showhim:hover .showme {
display: block;
}

.showhim:hover .hideme {
display: none;
}

.carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;
}

.jumbotron p {
  font-weight: normal;
}
