{% extends 'v2/base.html' %}

{% block body %}
<h2 class="margined">about</h2>
<p class="margined">
  My name is Eli Hickox. I'm a software engineer based in The San Francisco Bay Area.
  I spent three years studying Mathematics and Computer Science at The University of
  Illinois at Urbana-Champaign, but then I dropped out to work on the Systems team
  at RelateIQ, a Salesforce company.
</p>
<p class="margined">
  Since then, RelateIQ has become <a href="https://en.wikipedia.org/wiki/SalesforceIQ">SalesforceIQ</a>, and SalesforceIQ has been rebranded as Einstein. I spent three years there working as a back-end engineer on all parts of the system
  from the Salesforce integration for <a href="https://www.salesforce.com/products/sales-cloud/features/crm-email-connector/">Salesforce Inbox</a> to 
  <a href="https://releasenotes.docs.salesforce.com/en-us/spring17/release-notes/rn_sales_einstein_automatic_activity_capture.htm">Automated Activity Capture</a> for Salescloud.
  Some examples of projects I have brought to life are: geolocation for read receipts, the mobile news feed, and custom object support for Salesforce Inbox.
  During my final year at Salesforce, I worked on their world-class Networking and Security team, where I learned about AWS, Terraform, Chef, and other technologies. 
  I built a 'Terraform as a Service' application prototype to integrate the disparate infrastructures of Salesforce's acquired startups. I deployed and maintained a PGP keyserver
  to facilitate PGP commit signing.
</p>
<p class="margined">
  After that, I spent year as a back-end engineer at <a href="https://split.io">Split Software</a>, working on things such as 
  <a href="https://www.split.io/blog/split-workspaces-managing-experiments-and-feature-flags-across-teams-and-projects-at-scale/">workspaces</a>
  and the event ingestion pipeline. I was instrumental in developing the <a href="https://www.split.io/blog/introducing-feature-monitoring/">Alerting and Monitoring</a> feature.
</p>
<p class="margined">
  Following my time at Split, I spent nearly a year as a a full-stack engineer at <a href="https://www.lyric.com">Lyric Hospitality</a>, helping to build the future of short-term rentals. 
  Unfortunately my time there was cut short due to the COVID-19 pandemic, as people stopped making rentals.
  During my time there, I was instrumental in the <a href="https://en.wikipedia.org/wiki/Global_distribution_system">GDS</a> integration, affiliate tracking with <a href="https://www.kayak.com/">KAYAK.com</a>, and most importantly, 
  I implemented a reservation defragmentation system that increased unit availability by 8% on average across all inventory. I used a library called <a href="https://www.optaplanner.org/">Optaplanner</a>.
  I built the service from the ground up, writing everything from the Terraform to deploy the service, to the actual Java code which calculated the optimal solutions.
</p>
<p class="margined">
  My next position was at <a href="https://eaze.com">Eaze</a> for over two years. I joined during the height of the 2020 COVID-19 pandemic when the cannabis delivery business was booming. 
  I was brought on as a backend engineer primarily to build out the API Gateway server for a new React-Native Driver mobile app.
  From there, I branched out to work on all parts of the system. I was particuarly instrumental in developing the <a href="https://www.metrc.com/">METRC</a> 
  compliance mechanisms necessary for the expansion of Eaze into Michigan. My final position at Eaze was that of Data Engineer. I was brought into the Analytics team 
  to modernize their Python infrastructure and to help facilitate best practices. 
</p>
<p class="margined">
  I am currently a Data Engineer at <a href="https://www.chainalysis.com/">Chainalysis</a>.
</p>
<p class="margined">
  This is my personal website which showcases my portfolio of personal projects and provides
  links to my profiles on various websites. To see some of my projects, click
  on <a href="{{url_for('projects')}}">PROJECTS</a>. Note that this is an incomplete list. The pace of software development is
  rapid and I don't always have time to update my website. To see a <i>more complete</i> collection of
  my projects, check out my GitHub. Although this is not a complete picture either as I do use several version control hosting platforms, including privately hosted ones.
</p>
<p class="margined">
  Apart from software, I'm an avid golfer. I also enjoy photography, traveling, and writing in my free time.
</p>

<h4 class="margined">Links:</h4>
<p class="margined">
  <a href="https://www.linkedin.com/in/elihickox/">LinkedIn</a>
  |
  <a href="https://github.com/ehickox/">GitHub</a>
</p>

<p class="centered resizable">
  <div class="slideshow-container resizable">

  <div class="mySlides fade">
    <div class="slides-numbertext">1 / 4</div>
    <img class="resizable" src="{{static('img/me0.jpg')}}">
  </div>

  <div class="mySlides fade">
    <div class="slides-numbertext">2 / 4</div>
    <img class="resizable" src="{{static('img/me1.jpg')}}">
  </div>
  
  <div class="mySlides fade">
    <div class="slides-numbertext">3 / 4</div>
    <img class="resizable" src="{{static('img/me2.jpg')}}">
  </div>

  <div class="mySlides fade">
    <div class="slides-numbertext">4 / 4</div>
    <img class="resizable" src="{{static('img/me3.jpg')}}">
  </div>


  <a class="prev" onclick="plusSlides(-1)">❮</a>
  <a class="next" onclick="plusSlides(1)">❯</a>

  </div>
  <br>

  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span> 
    <span class="dot" onclick="currentSlide(2)"></span> 
    <span class="dot" onclick="currentSlide(3)"></span> 
    <span class="dot" onclick="currentSlide(4)"></span> 
  </div>
</p>
{% endblock %}
