{% extends 'v2/base.html' %}


{% block body %}
<h1 class="margined centered">Eli Hickox</h1>
<h2 class="margined centered"> Software Engineer</h2>
<h3 class="margined centered"> San Francisco Bay Area</h3>


<p class="centered resizable">
  <div class="slideshow-container resizable">

  <div class="mySlides fade">
    <div class="slides-numbertext">1 / 6</div>
    <img class="resizable" alt="Piazza del Popolo, Rome, Italy" src="{{static('img/home0.webp')}}">
    <div class="slides-caption">Piazza del Popolo, Rome, Italy</div>
  </div>

  <div class="mySlides fade">
    <div class="slides-numbertext">2 / 6</div>
    <img class="resizable" alt="Mission Dolores Park, San Francisco, CA" src="{{static('img/home1.webp')}}">
    <div class="slides-caption">Mission Dolores Park, San Francisco, CA</div>
  </div>
  
  <div class="mySlides fade">
    <div class="slides-numbertext">3 / 6</div>
    <img class="resizable" alt="Old San Juan, Puerto Rico" src="{{static('img/home2.webp')}}">
    <div class="slides-caption">Old San Juan, Puerto Rico</div>
  </div>

  <div class="mySlides fade">
    <div class="slides-numbertext">4 / 6</div>
    <img class="resizable" alt="Jogyesa, Seoul, South Korea" src="{{static('img/home3.webp')}}">
    <div class="slides-caption">Jogyesa, Seoul, South Korea</div>
  </div>
  
  <div class="mySlides fade">
    <div class="slides-numbertext">5 / 6</div>
    <img class="resizable" alt="St. George's, Grenada" src="{{static('img/home4.webp')}}">
    <div class="slides-caption">St. George's, Grenada</div>
  </div>

  <div class="mySlides fade">
    <div class="slides-numbertext">6 / 6</div>
    <img class="resizable" alt="Cozumel, Mexico" src="{{static('img/home5.webp')}}">
    <div class="slides-caption">Cozumel, Mexico</div>
  </div>


  <a class="prev" onclick="plusSlides(-1)">❮</a>
  <a class="next" onclick="plusSlides(1)">❯</a>

  </div>
  <br>

  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span> 
    <span class="dot" onclick="currentSlide(2)"></span> 
    <span class="dot" onclick="currentSlide(3)"></span> 
    <span class="dot" onclick="currentSlide(4)"></span> 
    <span class="dot" onclick="currentSlide(5)"></span> 
    <span class="dot" onclick="currentSlide(6)"></span> 
  </div>
</p>
{% endblock%}