{% extends 'base.html' %}

{% block body %}
<div class="container-fluid">
  <div class="container-fluid">

    <!-- Begin about pannel -->
    <div class="jumbotron container-fluid" style="background-color:#E4E5E9">
      <div class="jumbotron-contents">
        <h3>About</h3>
        <p>
          My name is Eli Hickox. I'm a software engineer based in The San Francisco Bay Area.
          I spent three years studying Mathematics and Computer Science at The University of
          Illinois at Urbana-Champaign, but then I dropped out to work on the Systems team
          at RelateIQ, a Salesforce company.
        </p>
        <p>
          Since then, RelateIQ has become SalesforceIQ, and SalesforceIQ has been rebranded as Einstein. I spent three years there working as a back-end engineer on all parts of the system
          from the Salesforce integration for <a href="https://www.salesforce.com/products/sales-cloud/features/crm-email-connector/">Salesforce Inbox</a> to <a href="https://releasenotes.docs.salesforce.com/en-us/spring17/release-notes/rn_sales_einstein_automatic_activity_capture.htm">Automated Activity Capture</a> for Salescloud.
          Some examples of projects I have brought to life are: geolocation for read receipts, the mobile news feed, and custom object support for Salesforce Inbox.
          During my final year at Salesforce, I worked on their world-class Networking and Security team, where I learned about AWS, Terraform, Chef, and other technologies. I built a 'Terraform as a Service' application prototype to integrate the disparate infrastructures of Salesforce's acquired startups. I deployed and maintained a PGP keyserver
          to facilitate PGP commit signing.
        </p>
        <p>
          After that, I spent year as a back-end engineer at <a href="https://split.io">Split Software</a>, working on things such as <a href="https://www.split.io/blog/split-workspaces-managing-experiments-and-feature-flags-across-teams-and-projects-at-scale/">workspaces</a>
          and the event ingestion pipeline. I was instrumental in developing the <a href="https://www.split.io/blog/introducing-feature-monitoring/">Alerting and Monitoring</a> feature.
        <p>
          Following my time at Split, I spent nearly a year as a a full-stack engineer at <a href="https://www.lyric.com">Lyric Hospitality</a>, helping to build the future of short-term rentals. Unfortunately my time there was cut short due to the covid-19 crisis, as people stopped making rentals.
          During my time there, I was instrumental in the <a href="https://en.wikipedia.org/wiki/Global_distribution_system">GDS</a> integration, affiliate tracking with KAYAK.com, and most importantly, I implemented a reservation defragmentation system that increased unit availability by 8% on average across all inventory. I used a library called <a href="https://www.optaplanner.org/">Optaplanner</a>.
          I built the service from the ground up, writing everything from the Terraform to deploy the service, to the actual Java code which calculated the optimal solutions.
        </p>
        <p>
          Today, I'm a backend engineer at <a href="https://eaze.com">Eaze</a> working on all parts of the system, but right now I'm focused on the server side of our Driver Application.
        </p>
        <p>
          This is my personal website which showcases my portfolio of personal projects and provides
          links to my profiles on various websites. To see some of my projects, click
          on PROJECTS. Note that this is an incomplete list. The pace of software development is
          rapid and I don't always have time to update my website. To see a complete collection of
          my projects, check out my GitHub.
        </p>
        <p>
          Apart from software, I'm an avid golfer. I also enjoy photography, traveling, and writing in my free time.
        </p>
      </div>
    </div>
    <!-- End about panel -->

    <!-- Begin contact/photo row -->
    <div class="row">
      <!-- Begin contact column -->
      <div class="col-md-6">
        <div class="jumbotron container-fluid" style="background-color:#E4E5E9">
          <div class="jumbotron-contents">
            <center>
              <h3>Contact</h3>
              <div class="showhim">
                <div class="showme">
                  <abbr title="Email">e:</abbr><a href="mailto:eli@elihickox.com"> eli@elihickox.com</a><br>
                  <br>
                </div>
                <div class="hideme">
                  Hover here for contact information.
                  <br><br>
                </div>
              </div>
              <form action="https://www.linkedin.com/in/elihickox">
                <button type="submit" class="btn btn-default" value="LinkedIn">LinkedIn</button>
                <p></p>
              </form>
            </center>
          </div>
        </div>
      </div>
      <!-- End contact column -->

      <!-- Begin photo column -->
      <div class="col-md-6">
        <div id="carousel-b" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carousel-b" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-b" data-slide-to="1"></li>
            <li data-target="#carousel-b" data-slide-to="2"></li>
            <li data-target="#carousel-b" data-slide-to="3"></li>
          </ol>
          <center>
            <div class="carousel-inner">
              <div class="item active">
                <img src="{{static('img/me0.jpg')}}">
              </div>
              <div class="item">
                <img src="{{static('img/me1.jpg')}}">
              </div>
              <div class="item">
                <img src="{{static('img/me2.jpg')}}">
              </div>
              <div class="item">
                <img src="{{static('img/me3.jpg')}}">
              </div>
            </div>
          </center>

          <a class="left carousel-control" href="#carousel-b" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-b" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      </div>
      <!-- End photo column -->
    </div>
    <!-- End contact/photo row -->

  </div>
</div>
{% endblock %}
