<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}eli@elihickox.com{% endblock %}</title>
    <meta name="description" content="Personal website of software engineer, Eli Hickox.">
    <meta name="author" content="Eli Hickox">
    <meta name="robots" content="index,follow">
    <meta name="keywords" content="eli hickox, software engineer, university of illinois, salesforce, salesforceiq, relateiq, split software, split.io, lyric hospitality">
    <meta name="viewport" content="width=device-width">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ static('css/bootflat.css') }}">
    <link rel="stylesheet" href="{{ static('css/main.css') }}">

    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{ static('apple-touch-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ static('apple-touch-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ static('apple-touch-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ static('apple-touch-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ static('apple-touch-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ static('apple-touch-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ static('apple-touch-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ static('apple-touch-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ static('apple-touch-icon-180x180.png') }}">
    <link rel="icon" type="image/png" href="{{ static('favicon-32x32.png') }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ static('android-chrome-192x192.png') }}" sizes="192x192">
    <link rel="icon" type="image/png" href="{{ static('favicon-96x96.png') }}" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ static('favicon-16x16.png') }}" sizes="16x16">
    <link rel="manifest" href="{{ static('manifest.json') }}">
    <link rel="mask-icon" href="{{ static('safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="{{ static('mstile-144x144.png') }}">
    <meta name="theme-color" content="#91a3b0">

</head>
<body style="background-color:#91a3b0">
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
	<![endif]-->

    <!-- Begin Navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mynav">
	    <span class="sr-only">Toggle navigation</span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </button>
	  <a href="mailto:eli@elihickox.com" class="navbar-brand">eli@elihickox.com</a>
	</div>

	<div class="collapse navbar-collapse" id="mynav">
	  <ul class="nav navbar-nav">
	    <li>
	      <a href="{{ url_for('index') }}">HOME</a>
	    </li>
	    <li>
	      <a href="{{ url_for('about') }}">ABOUT</a>
	    </li>
	    <li>
	      <a href="{{ url_for('projects') }}">PROJECTS</a>
	    </li>
	    <li>
	      <a href="https://github.com/ehickox">GITHUB</a>
	    </li>
	    <li>
	      <a href="https://www.ehlabs.net/blog/u/eli">BLOG</a>
	    </li>
	    <li>
	      <a href="https://www.flickr.com/photos/64654711@N08/">FLICKR</a>
	    </li>
	    <li class="dropdown">
	      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
		SOCIAL
		<b class="caret"></b>
	      </a>
	      <ul class="dropdown-menu" role="menu">
		<li>
		  <a href="https://www.facebook.com/ehickox2012">Facebook</a>
		</li>
		<li>
		  <a href="https://twitter.com/elihickox">Twitter</a>
		</li>
		<li>
		  <a href="http://www.linkedin.com/in/elihickox">LinkedIn</a>
		</li>
	      </ul>
	    </li>
	  </ul>
	</div>
      </div>
    </nav>
    <!-- End Navbar -->
    <link rel="stylesheet" href="{{ static('css/pad.css') }}">

    <!--Chartkick-->
    <script src="{{ static('js/chartkick.js') }}"></script>
    <!-- To use Google charts uncomment the following 2 lines and delete the previous one
    <script src="http://www.google.com/jsapi"></script>
    -->

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>

    {% block body %}
    {% endblock %}

    <!--Footer-->
    <div class="container-fluid">
    <footer class="page-footer dark center-on-small-only">

      <!--Footer Links-->
      <div class="container-fluid">
        <div class="row">
          <!--First column-->
          <div class="col-md-6">
              <h5 class="title">elihickox.com</h5>
              <p>elihickox.com is the personal website of Eli Hickox. elihickox.com will never sell your data. By continuing to use this site, you agree to the use of cookies in your browser.</p>
          </div>
          <!--/.First column-->
          <!--Second column-->
          <div class="col-md-6">
          </div>
          <!--/.Second column-->
        </div>
      </div>
      <!--/.Footer Links-->

      <!--Copyright-->
      <div class="footer-copyright">
        <div class="container-fluid">
          © 2015 - 2022 Copyright: <a href="http://www.elihickox.com"> elihickox.com </a>
        </div>
      </div>
      <!--/.Copyright-->
    </footer>
    </div>
    <!--/.Footer-->

    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>

    <!-- Google Analytics: -->
    <!--
    <script>
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
    -->

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-104194459-1', 'auto');
        ga('send', 'pageview');

    </script>

    <!-- build:js scripts/plugins.js -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="{{ static('js/app.js') }}"></script>

    <!-- endbuild -->


</body>
</html>
