{% extends 'base.html' %}

{% block body %}
<div class="container-fluid">
  <div class="container-fluid">
    <div class="container-fluid">  
      <div class="jumbotron container-fluid" style="background-color:#F2F1EF">
	<div class="jumbotron-contents">
	  <h1>Eli Hickox's Homepage - eli@hicko.xyz</h1>
	  <h2>Software Engineer | Urbana Illinois & San Francisco Bay Area</h2>
	  <p>Here you can find various links pertaining to Eli Hickox.</p>
	</div>
	<div class="jumbotron-photo">
	  <img src="{{ static('img/home.jpg') }}">
	</div>
      </div>
    </div>
  </div>
 </div>
{% endblock %}
