{% extends 'base.html' %}

{% block body %}
<h2 class="centered">selected projects</h2>

{% for project in projects %}
<a href="#{{project.title}}"></a>
<a name={{project.title}}></a>
<h4 class="centered">{{project.title}} - {{project.tagline}}</h4>

<p class="margined">{{project.date}}</p>
<p class="margined">{{project.description|safe}}</p>
{% if project.link %}
<p class="margined"><a href={{project.link}}>Go to {{project.title}}</a></p>
{% endif %}
{% if project.download %}
<p class="margined"><a href={{project.download}}>Download {{project.title}}</a></p>
{% endif %}
{% if project.git_url %}
<p class="margined">{{project.title}} <a href={{project.git_url}}> is on {% if 'gitlab' in project.git_url.lower() %}GitLab{% else %}GitHub{% endif %}</a>. Pull requests and bug reports are welcome.</p>
{% endif %}
<p class="margined">© {{project.copywrite}}</p>

{% endfor %}

{% endblock %}