{% extends 'base.html' %}

{% block body %}
{% if projects == None %}
<div class="container-fluid">
  <div class="container-fluid">
    <div class="jumbotron container-fluid" style="background-color:#E4E5E9">
      <div class="jumbotron-contents">
	<h1>Under Construction!</h1>
      </div>
    </div>
  </div>
</div>
{% else %}
<!-- Begin Project Panel -->
{% for project in projects %}
<a href="#{{project.title}}"></a>
<a name={{project.title}}></a>
<div class="container-fluid">
  <div class="container">
  <div class="panel panel-default" style="background-color:#E4E5E9">
    <div class="panel-heading" style="background-color:#8190A0">
      <h3 class="panel-title"><center><b>{{project.title}}</b></center></h3>
    </div>
    <div class="panel-body" style="background-color:#E4E5E9">
      <div class="container-fluid">
	<p>{{project.date}}</p>
	<p>{{project.description|safe}}</p>
	{% if project.link %}
	<p><a href={{project.link}}>Go to {{project.title}}</a></p>
	{% endif %}
	{% if project.download %}
  <p>Available for free via bittorrent. Please seed and share.</p>
	<p><a href={{project.download}}>Torrent &#129522; Link</a></p>
	{% endif %}
	<p>© {{project.copywrite}}</p>
      </div>
    </div>
  </div>
  </div>
</div>
{% endfor %}
<!-- End Project Panel -->
{% endif %}
{% endblock %}
